</div>
<div id="footer">
<table class="footer">
  <tr>
    <td>
      <img src="/images/poweredby_WebSphere.gif" alt="Powered by Webphere" />
    </td>
    <td>
      <form id="footerform">
        <p class="footer">
          <a class="footer" href="/shopping?category=0">Flowers</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/shopping?category=1">Fruits &amp; Vegetables</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/shopping?category=2">Trees</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/shopping?category=3">Accessories</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/index.html">Home</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/cart">Shopping Cart</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/account">My Account</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/login">Login</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/help">Help</a>
        </p>
      </form>
    </td>
  </tr>
</table>
</div>
</body>
</html>
