<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/PlantMaster.css">
    <script type="text/javascript" src="/js/PlantsScripts.js"></script>
</head>

<body onload="top.deselectMenu('banner:menu1');top.deselectMenu('banner:menu2');top.deselectMenu('banner:menu3');top.deselectMenu('banner:menu4')">
<div id="banner" class="banner">
<form id="bannerform">
        <table class="banner">
          <tr>
            <td style="background-color: white; width: 10px">
              <img src="/images/1x1_trans.gif" style="height: 1px; width: 10px" alt="" />
            </td>
            <td style="background-color: white; width: 200px">
              <img src="/images/pbw.jpg" style="height: 48px; width: 181px" alt="Plants by WebSphere" />
            </td>
            <td class="cartitemright" style="background-color: white;width: 100%">
            	<div id="cartPreviewGroup">
            		{{#cartEmpty}}
            		<span id="cartEmptyText">Your shopping cart is currently empty</span>
            		{{/cartEmpty}}
					{{#cartNotEmpty}}
					<span id="cartSizeText">Your shopping cart contains {{cartSize}} items</span>
					<br />
					<span id="cartTotalText">Current total is {{cartTotal}}.</span>
					{{/cartNotEmpty}}
            	</div>
            </td>
            <td style="background-color: white; width: 10px">
              <img src="/images/1x1_trans.gif" style="height: 1px; width: 10px" alt="" />
            </td>
          </tr>
        </table>
        <table class="banner">
          <tr>
            <td style="background-image: url('/images/tabs_background.jpg'); padding: 0px;">
              <img style="border: 0px; height: 21px; width: 10px" alt="" src="/images/1x1_trans.gif" />
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=0">
                <img id="menu1" style="border: 0px; height: 35px; width: 75px;" src="/images/tab_flowers_u.gif" alt="Flowers" />
              </a>
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=1">
                <img id="menu2" style="border: 0px; height: 35px; width: 136px;" src="/images/tab_veggies_u.gif" alt="Fruits and Vegetables" />
              </a>
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=2">
                <img id="menu3" style="border: 0px; height: 35px; width: 57px;" src="/images/tab_trees_u.gif" alt="Trees" />
              </a>
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=3">
                <img id="menu4" style="border: 0px; height: 35px; width: 92px;" src="/images/tab_accessories_u.gif" alt="Accessories" />
              </a>
            </td>
            <td style="background-image: url('/images/tabs_background.jpg'); width: 100%"> &nbsp;&nbsp; </td>
            <td style="background-image: url('/images/tabs_background.jpg'); text-align: right; white-space: nowrap">
              <p class="global">
                <a class="global" href="/index.html" >HOME</a>&nbsp;&nbsp;:&nbsp;
                <a class="global" href="/cart">SHOPPING CART</a>&nbsp;&nbsp;:&nbsp;
                <a class="global" href="/login">LOGIN</a>&nbsp;&nbsp;:&nbsp;
                <a class="global" href="/help">HELP</a>&nbsp;&nbsp;:&nbsp;
              </p>
            </td>
          </tr>
        </table>
      </form>
</div>
<div id="bodycontent" class="bodycontent">
