<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/PlantMaster.css">
    <script type="text/javascript" src="/js/PlantsScripts.js"></script>
</head>

<body onload="top.deselectMenu('banner:menu1');top.deselectMenu('banner:menu2');top.deselectMenu('banner:menu3');top.deselectMenu('banner:menu4')">
<div id="banner" class="banner">
<form id="bannerform">
        <table class="banner">
          <tr>
            <td style="background-color: white; width: 10px">
              <img src="/images/1x1_trans.gif" style="height: 1px; width: 10px" alt="" />
            </td>
            <td style="background-color: white; width: 200px">
              <img src="/images/pbw.jpg" style="height: 48px; width: 181px" alt="Plants by WebSphere" />
            </td>
            <td class="cartitemright" style="background-color: white;width: 100%">
            	<div id="cartPreviewGroup">
            		{{#cartEmpty}}
            		<span id="cartEmptyText">Your shopping cart is currently empty</span>
            		{{/cartEmpty}}
					{{#cartNotEmpty}}
					<span id="cartSizeText">Your shopping cart contains {{cartSize}} items</span>
					<br />
					<span id="cartTotalText">Current total is {{cartTotal}}.</span>
					{{/cartNotEmpty}}
            	</div>
            </td>
            <td style="background-color: white; width: 10px">
              <img src="/images/1x1_trans.gif" style="height: 1px; width: 10px" alt="" />
            </td>
          </tr>
        </table>
        <table class="banner">
          <tr>
            <td style="background-image: url('/images/tabs_background.jpg'); padding: 0px;">
              <img style="border: 0px; height: 21px; width: 10px" alt="" src="/images/1x1_trans.gif" />
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=0">
                <img id="menu1" style="border: 0px; height: 35px; width: 75px;" src="/images/tab_flowers_u.gif" alt="Flowers" />
              </a>
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=1">
                <img id="menu2" style="border: 0px; height: 35px; width: 136px;" src="/images/tab_veggies_u.gif" alt="Fruits and Vegetables" />
              </a>
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=2">
                <img id="menu3" style="border: 0px; height: 35px; width: 57px;" src="/images/tab_trees_u.gif" alt="Trees" />
              </a>
            </td>
            <td style="padding: 0px;">
              <a href="/shopping?category=3">
                <img id="menu4" style="border: 0px; height: 35px; width: 92px;" src="/images/tab_accessories_u.gif" alt="Accessories" />
              </a>
            </td>
            <td style="background-image: url('/images/tabs_background.jpg'); width: 100%"> &nbsp;&nbsp; </td>
            <td style="background-image: url('/images/tabs_background.jpg'); text-align: right; white-space: nowrap">
              <p class="global">
                <a class="global" href="/index.html" >HOME</a>&nbsp;&nbsp;:&nbsp;
                <a class="global" href="/cart">SHOPPING CART</a>&nbsp;&nbsp;:&nbsp;
                <a class="global" href="/login">LOGIN</a>&nbsp;&nbsp;:&nbsp;
                <a class="global" href="/help">HELP</a>&nbsp;&nbsp;:&nbsp;
              </p>
            </td>
          </tr>
        </table>
      </form>
</div>
<div id="bodycontent" class="bodycontent">
  <form id="product">
    <table border="0" cellpadding="4" cellspacing="0" width="100%">
      <tr>
        <td class="trail">
          <p class="trail">
            <a href="/promo">Home</a> &gt;
            <a href="/shopping?category={{product.category}}" class="trail">{{product.categoryName}}</a>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="width: 100%">
          <table width="600" cellpadding="4" cellspacing="5" border="0">
            <tr>
              <td colspan="2" valign="bottom">
                <h1>{{product.name}}</h1>
              </td>
            </tr>
            <tr>
              <td rowspan="9" valign="top">
                <img src="/servlet/ImageServlet?action=getimage&inventoryID={{product.inventoryId}}" border="0" width="220" height="250" alt="{{product.name}}" />
                <br />
                <img src="/images/1x1_trans.gif" width="220" height="10" border="0" alt="" />
                <br />
                <br />
              </td>
              <td valign="top">
                <span style="font-size: small; font-family: verdana, arial, sans serif; font-weight: bold; font-style: italic; color: 666666">{{product.heading}}</span>
                <br />
                <span style="font-size: x-small; font-family: verdana, arial, sans serif; color: 666666">{{product.description}}</span>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <hr />
              </td>
            </tr>
            <tr>
              <td valign="top">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tr>
                    <td>
                      <img src="/images/item_selection.jpg" style="width: 73px; height: 20px; border: 0px;" alt="Item selection" />
                      <br />
                    </td>
                  </tr>
                  <tr style="background-color: #eeeecc">
                    <th class="item">ITEM#</th>
                    <th class="item">DESCRIPTION</th>
                    <th class="item">PRICE</th>
                  </tr>
                  <tr style="background-color: #ffffdd">
                    <td class="item">{{product.inventoryId}}</td>
                    <td class="item">{{product.pkginfo}}</td>
                    <td class="item">{{product.formattedPrice}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br />
    <br />
    <table style="background-color:#669966;border:0px;padding:0px;width:100%">
      <tr>
        <td style="width:100%">
          <img src="/images/1x1_trans.gif" width="1" height="1" alt="" />
        </td>
      </tr>
    </table>
    <br />
  </form>
</div>
<div id="footer">
<table class="footer">
  <tr>
    <td>
      <img src="/images/poweredby_WebSphere.gif" alt="Powered by Webphere" />
    </td>
    <td>
      <form id="footerform">
        <p class="footer">
          <a class="footer" href="/shopping?category=0">Flowers</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/shopping?category=1">Fruits &amp; Vegetables</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/shopping?category=2">Trees</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/shopping?category=3">Accessories</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/index.html">Home</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/cart">Shopping Cart</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/account">My Account</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/login">Login</a>&nbsp;&nbsp;:&nbsp;
          <a class="footer" href="/help">Help</a>
        </p>
      </form>
    </td>
  </tr>
</table>
</div>
</body>
</html>
