{{> header}}
	<form id="promo">
  <table style="background-color:#669966" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td style="width:100%">
        <table style="background-color:#395639;width:100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td style="white-space: nowrap;width: 100%" valign="top" align="center" >
              <img src="/images/theme_summer_text.gif" style="width: 209px; height: 198px; border: 0px;" alt="Gardens of Summer: They all start with the right colors, and we've got them all." />
            </td>
            <td valign="top" align="left" rowspan="2" style="white-space: nowrap">
              <img src="/images/theme_summer1.gif" style="width: 548px; height: 277px; border: 0px;" alt="Image of a colorful garden" />
            </td>
          </tr>
          <tr>
            <td valign="top" align="right" style="white-space: nowrap">
              <img src="/images/theme_summer2.gif" style="width: 208px; height: 79px; border: 0px;" alt="Gardens of Summer: They all start with the right colors, and we've got them all." />
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td class="space" style="background-color:#ffffff;width:100%">
        <img src="/images/1x1_trans.gif" style="width: 1px; height: 1px;" alt="" />
      </td>
    </tr>

    <tr>
      <td style="width:100%">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td valign="top" style="width:30%;background-color:#DCEBCD">
              <table width="100%" border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <th class="promos" align="left" style="background-color: #669966">Tips</th>
                </tr>
                <tr>
                  <td style="background-color: #DCEBCD"><p class="tips">Preserve extra grass seed by keeping it dry.
                  Tape boxes and bags closed, or seal them into plastic bags. Be sure to remove extra air
                  from the bags. Store all seed in a cool, dry area such as a garage or basement.</p></td>
                </tr>
              </table>
            </td>
            <td class="space" valign="top" style="background-color: #ffffff">
              <img src="/images/1x1_trans.gif" style="width: 1px; height: 20px;" alt="" />
            </td>
            <td valign="top" style="background-color:#DCEBCD;width:70%">
              <table width="100%" border="0" cellpadding="4" cellspacing="0">
                <tr>
                  <th class="promos" colspan="3" align="left" style="background-color: #669966; width: 100%">Specials</th>
                </tr>
                <tr>
                  <td align="center" valign="top" style="background-color: #DCEBCD">
                    <a href="/product?itemID=T0003">
                      <img src="/images/trees_bonsai_48.jpg" style="border: 0px; width: 48px; height: 48px;" alt="Bonsai Tree" />
                    </a>
                    <p>
                      <a class="promos" href="/product?itemID=T0003">
                        Bonsai Tree
                        <br />
                        $30.00 each
                      </a>
                    </p>
                  </td>
                  <td align="center" valign="top" style="background-color: #DCEBCD">
                    <a href="/product?itemID=V0006">
                      <img src="/images/veggies_strawberries_48.jpg" style="border: 0px; width: 48px; height: 48px;" alt="Red Delicious Strawberries" />
                    </a>
                    <p>
                      <a class="promos" href="/product?itemID=V0006">
                        Red Delicious Strawberries
                        <br />
                        $3.50 (50 seeds)
                      </a>
                    </p>
                  </td>
                  <td align="center" valign="top" style="background-color: #DCEBCD">
                    <a href="/product?itemID=F0017">
                      <img src="/images/flower_tulips_48.jpg" style="border: 0px; width: 48px; height: 48px;" alt="Tulips" />
                    </a>
                    <p>
                      <a class="promos" href="/product?itemID=F0017">
                        Tulips
                        <br />
                        $17.00 (10 bulbs)
                      </a>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br />
</form>
{{> footer}}